* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.privacypolicy_main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1140px;
  height: 625px;
  margin-top: 60px;
}

.section_privacypolicy_content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}
.section_privacypolicy_content h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-top: 30px;
}
.section_privacypolicy_content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.privacy_head_img{
  position: relative;
  
  height: 550px;

}
.privacy_head_img img{
  width: 100%;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 8px;
  color: var(--White-500, #FFF);
  content: ">\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
color: var(--White-500, #FFF);

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

  /* Body-1 Regular */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.privacy_img_text{
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 10;
}
.privacy_img_text h2{
  color: var(--White-500, #FFF);

/* Header-2 Bold */
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 133.333% */
}
