* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}

.termsconditions_main {
  width: 1100px;
  display: flex;
  justify-content: center;

  margin: 0 auto;
}
.section_termsconditions {
  max-width: 95%;
 margin: 0 auto;
}

.section_termsconditions_content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;

}
.section_termsconditions_content h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  margin-top: 30px;
}
.section_termsconditions_content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
 
}

.terms_head_img{
  position: relative;
  
  height: 550px;

}
.terms_head_img img{
  width: 100%;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 8px;
  color: var(--White-500, #FFF);
  content: ">\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
color: var(--White-500, #FFF);

/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

  /* Body-1 Regular */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.terms_img_text{
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 10;
}
.terms_img_text h2{
  color: var(--White-500, #FFF);

/* Header-2 Bold */
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 133.333% */
}