*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    width: 100%;
    height: 137px;
    background: var(--White-500, #FFF);

}
.container1{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    height: 50px;
 
}
.container2{
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
   
 
}

.contacts{
 
    background: var(--Primary-500, #50945D);
    display: flex;
    gap: 300px;
    justify-content: space-around;
    align-items: center;
}

.rectangle{
    width: 1px;
    height: 50px;
    background: var(--white-white-20, rgba(255, 255, 255, 0.20));
    display: inline-block;

}
.others, .sosials{
    display: inline-flex;
    align-items: center;
    gap: 20px;

}
.sosials svg{
    display: inline-block;
    width: 20px;
    height: 20px;
}
 .number svg,.email svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    }

.number,.email{
    display: flex;
    align-items: center;
    gap: 10px;
}
.number span,.email span{
    color: var(--White-500, #FFF);
text-align: center;
/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.navbar_logos{
    display: flex;
    width: 166px;
    height: 67px;
    align-items: center;
    padding: 12.684px 0px 12.685px 0px;
    gap: 6.876px;
    flex-shrink: 0;
}
.union{
    width: 41.909px;
height: 41.631px;
flex-shrink: 0;
}
.union svg{
    
    display: inline-block;
}
.group_56{
    width: 117.215px;
height: 21.975px;
flex-shrink: 0;

}
.group_56 svg{
    display: inline-block;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbar_menu ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    
}
.navbar_menu ul li a{
    color: var(--Dark-500, #0E140F);
text-align: center;
/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
cursor: pointer;
}
.navbar_menu ul li svg{
    display: inline-block;
    width: 24px;
    height: 24px;
}
.dropdown {
    position: relative;
    display: inline-block;
    transform:  translateY(-6px);
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: -20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 3;
    border-radius: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .appointment_btn{
    width: 168px;
    height: 50px;
    border-radius: 10px;
    background: var(--Primary-500, #50945D);
    color: var(--White-500, #FFF);
/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
cursor: pointer;


  }
  .login_btn{
    border-radius: 10px;
border: 1px solid var(--Primary-500, #50945D);
width: 98px;
height: 50px;

color: var(--Primary-500, #50945D);
/* Body-1 Regular */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
cursor: pointer;
  

  }
 .profile button{
    display: flex;
width: 40px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
border: none;
  }
  
  .contacts_part2{
    display: flex;
    align-items: center;
   gap: 70px;
  }
  .box{
    width: fit-content;
    background: var(--Primary-500, #50945D);
    position: relative;
    right: 10px;
    text-align: left;
    z-index: 1;
    opacity: 0;
    top: -500px;
    pointer-events: none;
    transition: 0.3s;
    float: right;
    border-radius: 10px;
    display: none;
    
    

  
    
   
}
.active.box{
    opacity: 1;
    top: 0px;
    pointer-events: fill;
}
.menu_icon_box{
    z-index: 2;
    width: fit-content;
    height: auto;
    background-color: #e9e3e3;
    margin: 30px;
    position: absolute;
    top:28px;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    display: none;
   
   
}
.line1, .line2, .line3{
    width: 40px;
    height: 4px;
    margin: 10px 8px;
    background-color: #000;
    border-radius: 50px;
    transition: 0.2s;
}
.active .line1{
    transform: translate(0px,15px)rotate(45deg);
}
.active .line2{
    opacity: 0;
}
.active .line3{
    transform: translate(0px,-15px)rotate(-45deg);
}
nav{
    padding-top: 10px;
    font-size: 20px;
}
nav ul{
    margin: 0px 30px;
}
nav ul li{
    list-style: none;
    margin-bottom: 30px;
    transition: 0.2s;
}
nav ul li:hover{
   background-color: rgb(16, 201, 78);
   border-radius: 8px;
}
.menu_icon_box:hover{
    background-color: #50945D;
}
nav ul li a{
    color: #000;
    font-size:20px ;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

